---
import type { GhibliProps } from '../types/api-props';

type Props = {
  info: GhibliProps;
  tagName: string;
  tagDuration?: 'min';
  tagScore?: '100';
};

const { info, tagName, tagDuration, tagScore } = Astro.props;
---

<>
  <div class='movie_title'>
    <h2 class='text-2xl font-bold capitalize'>{`${tagName.replace('_', ' ')}:`}</h2>
    <p class='text-base text-justify text-gray-300 tracking-wide leading-relaxed'>
      {
        tagDuration
          ? `${info[tagName]} ${tagDuration}`
          : tagScore
          ? `${info[tagName]}/${tagScore}`
          : info[tagName]
      }
    </p>
  </div>
</>
