---
import type { GhibliProps } from '../types/api-props';
import { useMovies } from '../utils/utils-functions';
import CardItem from './CardItem.astro';

const { hasMovies, moviesResponse, loading } = await useMovies();
---

<ul class='grid grid-cols-2 md:grid-cols-3 gap-4'>
  {
    loading ? (
      <p class='w-full text-center font-bold py-3 px-2 text-lg md:capitalize md:text-base'>
        Loading ... 🎃
      </p>
    ) : hasMovies ? (
      moviesResponse?.map((movie: GhibliProps) => <CardItem movie={movie} />)
    ) : null
  }
</ul>
