---
import brushPortrait from '../assets/images/brush-portrait.svg';
import { portrait } from '../assets/images/images';
import './intro-draw-path.css';

// creating a portrait object
const portraitImg = {
	img: portrait,
	alt: 'Artist image portrait'
};
---

<div class='relative mx-12 flex flex-col place-items-center mb-12'>
	<h1 class='text-xl'>Enter to my <span class='font-bold'>Digital Universe!</span></h1>

	<div class='relative'>
		<!-- svg linear -->
		<svg class='absolute md:h-full md:w-full overflow-visible'>
			<defs>
				<linearGradient
					id='gradient'
					x1='0%'
					y1='0%'
					x2='100%'
					y2='0%'>
					<stop
						offset='0%'
						style={{ stopColor: '#DC3A2B', stopOpacity: 1 }}
					></stop>
					<stop
						offset='100%'
						style={{ stopColor: '#E18510', stopOpacity: 1 }}
					></stop>
				</linearGradient>
			</defs>
			<path
				id='border-path'
				fill='none'
				stroke='url(#gradient)'
				stroke-width='4'
			></path>
		</svg>
		<p
			id='anim-p'
			class='p-6 text-lg'>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi voluptates dolor eligendi.
			Quidem porro, earum, deleniti repudiandae alias inventore quis voluptatum aspernatur veniam
			perferendis eos nihil quaerat temporibus, rerum corporis!<br />
			<br />
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis exercitationem odio a laborum
			ad eum voluptatibus tenetur, doloremque accusantium incidunt impedit fugiat distinctio, quae nihil
			nulla vel odit repellendus molestiae!
			<br />
			<br />
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nihil inventore magnam
			voluptatem nisi corrupti et alias? Expedita voluptate neque assumenda pariatur nostrum cupiditate
			voluptatem vero voluptatibus, praesentium odit! Id?
		</p>
	</div>
	<!-- footer section numbers -->
	<div
		class='flex place-items-center pt-12 text-center xl:gap-14 transition-all ease-in-out duration-150'>
		<div class='w-32'>
			<h2>Art Posts</h2>
			<p class='text-xl font-bold'>85</p>
		</div>
		<div class='w-32'>
			<h2>Twetts</h2>
			<p class='text-xl font-bold'>43</p>
		</div>
		<div class='w-32'>
			<h2>Views</h2>
			<p class='text-xl font-bold'>100</p>
		</div>
	</div>
	<div class='relative my-4 max-w-xs xl:max-w-md transition-all ease-in-out duration-150'>
		<img
			class='h-full rounded-lg object-cover z-10'
			src={portraitImg.img}
			alt={portraitImg.alt}
		/>
		<div>
			<img
				class='absolute bottom-0 right-10 translate-y-1/4 translate-x-1/3 opacity-90 -rotate-45'
				src={brushPortrait}
				alt='brush absolute in image'
			/>
		</div>
	</div>
</div>

<div class='mt-12 h-4 w-full bg-black'></div>

<script src='../utils/drawingStroke.ts'></script>
