---
import { twMerge } from 'tailwind-merge';

export interface Props {
	title: string;
	className?: string;
}

const { title, className } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<link />
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class={twMerge(`font-ghibli m-auto max-w-4xl bg-[#151c26] text-white ${className}`)}>
		<main class='m-auto max-w-4xl'>
			<h1 class='font-black uppercase text-8xl text-center py-4 mt-4'>Studio Ghibli Movies</h1>
			<slot />
		</main>
	</body>
</html>
