---
---

<>
  <li class='w-full h-full block'>
    <div class='max-w-full max-h-full'>
      <p
        class='w-full text-center font-bold py-3 px-2 text-lg md:capitalize md:text-base whitespace-nowrap overflow-ellipsis overflow-hidden'>
      </p>
      <a
        class='hover:scale-105 inline-block transition-all duration-300 ease-out hover:contrast-125 shadow-md'
        href=`/`>
        <img
          class='aspect-[600/900] max-w-full w-full object-cover rounded'
          alt={`movie-skeleton`}
          src={'/'}
        />
      </a>
    </div>
  </li>
</>
