---
import type { GhibliProps } from '../../types/api-props';
import { useMovies } from '../../utils/utils-functions';
import Search from '../search/Search.jsx';
import CardItem from './CardItem.astro';

let loading = true;
const { hasMovies, moviesResponse } = await useMovies();

loading = false;
---

<div class='mx-auto w-full'>
  <div class='grid place-content-center w-full h-full'>
    <Search client:load />
  </div>
  <ul class='grid grid-cols-2 md:grid-cols-3 gap-4'>
    {
      loading ? (
        <p class='w-full text-center font-bold py-3 px-2 text-lg md:capitalize md:text-base'>
          Loading ... 🎃
        </p>
      ) : (
        moviesResponse?.map((movie: GhibliProps) => (
          <CardItem
            movie={movie}
            loading
          />
        ))
      )
    }
  </ul>
</div>
