---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 - error'>
  <div class='grid items-center max-w-4xl m-auto min-h-screen place-content-center'>
    <div class='mx-auto w-full'>
      <img src='https://http.cat/images/404.jpg' />
    </div>
  </div>
</Layout>
