---
import Layout from '../layouts/Layout.astro';
import { useMovies } from '../utils/utils-functions';

// captura el paramentro
const { movie } = Astro.params;
const { moviesResponse } = await useMovies();

// filtra el arreglo por el parametro requerido
const info = moviesResponse.find((item) => item.title === movie);

console.log(info);

// si tengo error, mandame a la pagina 404
if (!info) {
  return Astro.redirect('/404');
}
---

<Layout title={`movie: ${info.title}`}>
  <div>
    <h1 class='text-center py-4 mt-4 text-4xl'>{info.title}</h1>
    <div class='grid grid-cols-2 gap-4'>
      <div>
        <picture>
          <img src={info.image} />
        </picture>
      </div>
      <div>
        <h2>Description:</h2>
        <p>{info.description}</p>
      </div>
    </div>
  </div>
</Layout>
