---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Ghibli Movies'>
	<main class='m-auto max-w-4xl'>
		<h1 class='font-black uppercase text-8xl text-center py-4 mt-4'>Studio Ghibli Movies</h1>
		<section class='w-full'>
			<div class='w-full h-full px-8 py-4'>
				<Card />
			</div>
		</section>
	</main>
</Layout>
