---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Ghibli Movies'>
	<section class='w-full h-screen'>
		<div class='w-full h-full px-8 py-4'>
			<Card />
		</div>
	</section>
</Layout>
